.speciality-section{
  text-align:center;

  margin-top: 37px;
}

.speciality-section h2{
  font-size:50px;
  color:#2563eb;;
}

.speciality-subtitle{
    font-size: 22px;
  margin-top:10px;

  color:#64748b;

  max-width:600px;
  margin-left:auto;
  margin-right:auto;
}

.speciality-grid{
  margin-top:40px;

  display:flex;
  justify-content:center;
  gap:35px;

  flex-wrap:wrap;
}

.speciality-card{
  display:flex;
  flex-direction:column;
  align-items:center;

  cursor:pointer;

  background:white;
  padding:20px;

  border-radius:88px;

  box-shadow:0 6px 18px rgba(0,0,0,0.08);

  transition:transform 0.25s ease, box-shadow 0.25s ease;
}

.speciality-card img{
  width:90px;
  height:90px;

  object-fit:contain;

  background:#f1f5f9;

  padding:18px;

  border-radius:50%;
}




.speciality-card p{
  margin-top:10px;

  font-size:18px;
  color:#1e293b;
}

.speciality-card:hover{
  transform:translateY(-8px);

  box-shadow:0 12px 28px rgba(0,0,0,0.12);
}